/* Sıfırlama güzel, kalsın */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:rgb(201, 96, 34);
    font-family: 'Courier New', Courier, monospace; 
}

.container {
    border: 3px solid #61dafb; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 300px;
    padding: 4rem;
    max-width: 400px;
    width: 100%;
    margin-bottom: 2rem;
}


#time-display {
    font-size: 3rem; 
    font-weight: bold;
    padding: 1rem;
    color: #020a0c;
}

.container-btns {
    display: flex;
    gap: 2rem;
}

button {
  
    width: 80px;
    height: 80px;
    font-size: 1.2rem;
    cursor: pointer;
   border-radius: 50%;
    border: none;
    transition: 0.2s;
    
    color :white
}

button:active {
    transform: scale(0.95); 
}

#start-stop-btn{
    border:1px solid yellow
}